.submission_status_1 {
        background-color: green;
}

.submission_status_2 {
        background-color: yellow;
}

.submission_status_3 {
        background-color: red;
}

.submission_status_4 {
        background-color: grey; 
}

