.submission_status_1 {
        background-color: #006837;
	color: #ffffff;
}

.submission_status_2 {
        background-color: #fec44f;
	color: #ffffff;
}

.submission_status_3 {
        background-color: #de2d26;
	color: #ffffff;
}

.submission_status_4 {
        background-color: #636363; 
	color: #ffffff;
}

